*{
    box-sizing: border-box !important;
}

body{
    margin: 0;
    background-color: rgba(255, 255, 255, 1);
    
    
}

header{
    width: 100%;
    height: 816px;
    background-image: url(https://s3-alpha-sig.figma.com/img/d6e3/a661/358be3e6a8f11ad8d5091340bc1cf379?Expires=1678665600&Signature=lYKhf84Yk~vzX5mRZ4SjTJXzZlo035abiOwVTICJNIq0xnoF~AcSph2iVR5AReHcRi9ZhFzBCupzpJtyi0~L8bVB5QmT2U6b46E3urLa24KcgWTNelSwMgLRSXV4NmPZWNSQ3ltna37kxicC0zUPhBDQgUauZ5h9jWtr4RW6XOy~GBVrYWXYcan89cZFKH2H~yIodZxaLWg7u1ze67NaK3suD3nlSu0c2Bwc6Nhh-lCLRiRwClAQS~Vl8vSjeJUCwQ6zzeqJ56KLPzgk71dsEJQ6zaT39R~R~mCeD1k3Qo8dYmEQ3O89hz91Ohh6JxcOnSfvTVLCj19zjfPMV5Ja9A__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4);
    background-size: cover;
    max-width: 100%;
    object-fit: cover;
    background-position: center;
}

html{
    scroll-behavior: smooth;
}

.navbar-brand{
    font-size: 20px;
}

.navbar-brand:hover{
    color: #ffffff !important;
}

.Vector{
    width: 13px;
    height: 13px;
    position: relative;
    bottom: 8px;
    left: 1.04px;
}

.bigone{
    padding: 20px 120px ;
    position: relative;
    bottom: 45px;
    margin: auto;
    display: block;
}

.msa{
    padding: 0px 17px;
}

.aranairi{
    font-family: 'Poppins', sans-serif !important;
    background-color: transparent !important;
}

.nav-link{
    font-size: 14px !important;
    line-height: 21px !important;
}

.navbar-brand{
    color: #ffffff !important;
    font-size: 21px !important;
    
}

.first{
    color: #ffffff !important;
}

.others{
    color: #ffffff; 
    opacity: 70%;
}

.others:hover{
    color: #ffffff;
    opacity: 100%;
}

.navbar-toggler{
    background-color: #ffffff;
    border-radius: 70%;
  
}

.Disc{
    display: block;
    width: 863px;
    height: 166px;
    margin: auto;
    max-width: 100%;
}

a{
    text-decoration: none !important;
    cursor: pointer;
}

h1{
    text-align: center;
    color: #ffffff;
    Font-style: SemiBold;
    line-height: 62px;
    font-size: 48px;
    padding: 10px 0px;
}

.Disc button{
    display: block;
    margin: auto;
    padding: 20px 24px;
    gap:8px;
    border-radius: 12px;
    font-size: 18px;
    line-height: 24px;
    text-align: left;
    background-color: rgba(123, 97, 255, 1);
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-style: semibold;
    font-weight: 900;
    border: 0;
}

.Disc button:hover{
    opacity: 0.9; 
    box-shadow: 0px 0px 30px rgba(123, 97, 255, 1);
}

li{
    list-style: none !important;
}

.Vector2{
    position: relative;
    right: 7px;
    bottom: 3px;
} 

.navbar-nav{
    margin: auto !important;
    max-width: 100% !important;
}

.container-fluid{
    margin: auto;
}

 .oci{
    color:rgba(255, 255, 255, 1);
    opacity: 50%;
    text-align: end;
} 

 .oci:hover{
    display: block;
    color:rgba(255, 255, 255, 1);
    opacity: 50%;
    padding-left: 2px;
} 

.p1{
    font-size: 14px;
    line-height: 21px !important;
    color: #ffffff;
    opacity: 100%;
    font-weight: 600;
    text-align: end;
    position: relative;
    bottom: 10px;
} 

 .Vector3{
    border-radius: 50%;
    position: relative;
    bottom: 70px;
    left: 90px;
} 

 .lst{
    padding-left: 110px;
}

.red-span{
    color: rgba(255, 0, 0, 1);
    width: 12px;
    height: 12px;
    border-radius: 12px;
    position: relative;
    bottom: 89px;
    left: 76px;    
} 

@media (max-width:1400px) {
    .lst{
        padding-left: 0px;
    }
    
}

@media (max-width:1300px) {
    .msa{
        padding: 0px 10px;
    }
    
}

@media (max-width:1225px) {
    .navbar-nav{
        position: relative;
        right: 50px;
    }
    
}

@media (max-width:1130px) {
    .navbar-nav{
        position: relative;
        right: 100px;
    }
    
}

@media (max-width:1093px) {
    .bigone{
        position: relative;
        bottom: 55px;
        right: 20px;
    }
    
}

@media (max-width:1093px) {
    .navbar-nav{
        position: relative;
        
        right: 120px;
    }
    
}

@media (max-width:1093px) {
    .bigone{
        position: relative;
        bottom: 0px;
        
        right: 0px;
    }
    
}









@media (max-width:990px) {
    .navbar-nav{
        position: relative;
        
        right: 0px;
    }
    
}

@media (max-width:415px) {
    .bigone{
       padding: 0px 40px;
    }
    
}



@media (max-width:1093px) {
    .oci{
        display: none;
    }
    
}

@media (max-width:1093px) {
    .Vector3{
        display: none;
    }
    
}

@media (max-width:1093px) {
    .p1{
        display: none;
    }
    
}

@media (max-width:1093px) {
    .red-span{
        display: none;
    }
    
}

@media (max-width:775px) {
    .row{
        display: none;
    }
    
}






.flexbox1{
   max-width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    width: 1140px;
    height: 88px;
    padding: 8px 8px;
    border-radius: 12px;
    background-color: #ffffff;
}

.row{
    width: 24.5%;
    padding:0px 0px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: baseline;
}

.row1{   
    width: 2%;
    padding: 8px 0px;
    height: 72px;
}

.Vector4{
    width: 40px;
    height: 21px;
    position: relative;
    top: 28px;
    left: 10px;
    cursor: pointer;
    
}

.row a{
    cursor: pointer;
    font-size: 14px;
    line-height: 16px;
    color: rgba(91, 91, 91, 1);
    text-decoration: none;
    position: relative;
    bottom: 10px;
    left: 35px;
    

}

.row h6{
    
    position: relative;
    left: 35px;
    bottom: 10px;
}


.buttn{
    width: 60px;
    height: 60px;
    border-radius: 18px;
    position: relative;
    left: 50px;
    background-color: rgba(123, 97, 255, 1);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;

}

.bi-search{
    width: 20px;
    height: 20px;
}

.container{
    max-width: 100%;
    width: 1378px;
    margin: auto;

}

.container h4{
    font-size: 32px;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    padding-left: 20px;
    
    
}

.idk{
    width: 1378px;
    height: 300px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
}

.row2{
    width: 16.6%;
    height: 300px;
    padding:0px 16px ;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

@media (max-width:1378px) {
    .row2{
        width: 25%;
    }
    
}

@media (max-width:1000px) {
    .row2{
        width: 33.3333333%;
    }
    
}

@media (max-width:800px) {
    .row2{
        width: 50%;
    }
    
}

@media (max-width:500px) {
    .row2{
        width: 100%;
    }
    
} 

@media (max-width:1378px) {
    .container1{
        position: relative;
        top: 300px;
    }
    
}




@media (max-width:1051px) {
    .row{
        width: 40%;
        
    }
    
} 

@media (max-width:422px) {
    .row a{
        font-size: 10px;
        list-style: 10px;
        
    }
    
} 

@media (max-width:422px) {
    .row h6{
        font-size: 10px;
        list-style: 10px;
        
    }
    
} 

@media (max-width:1051px) {
    .flexbox1{
        height: 176px;
        
    }
    
} 

@media (max-width:393px) {
    h1{
         font-size: 25px;
        
    }
    
} 

@media (max-width:1340px) {
    .row5{
         position: relative;
         bottom: 50px;
        
    }
    
} 

@media (max-width:1340px) {
    .row11{
         position: relative;
         bottom: 50px;
        
    }
    
} 

@media (max-width:1340px) {
    .row12{
         position: relative;
         bottom: 50px;
        
    }
    
} 

@media (max-width:1340px) {
    .container2{
         position: relative;
         top: 390px;
        
    }
    
} 

@media (max-width:1340px) {
    .flexbox3{
         position: relative;
         top: 490px;
        
    }
    
} 

@media (max-width:1340px) {
    .toppp{
        position: relative;
        bottom: 50px;
              
    }
    
} 

@media (max-width:1340px) {
    footer{
         position: relative;
         top: 690px;
        
    }
    
} 

@media (max-width:1340px) {
    .row6{
        width: 50%  !important;
        
    }
    
} 

@media (max-width:1340px) {
    .container3{
        position: relative;
        top: 490px;
        
    }
    
} 

@media (max-width:1300px) {
    .row3{
        width:50% !important;
    
    }
    
} 


@media (max-width:801px) {
    .container1{
        position: relative;
        top: 600px ;
    
    }
    
} 

@media (max-width:801px) {
    .row90{
        width: 100% !important;
    
    }
    
} 

@media (max-width:801px) {
    footer{
        position: relative;
        top: 1100px;
    }
} 

@media (max-width:607px) {
    .row3{
        width: 100% !important;
    }
} 


@media (max-width:607px) {
    .container2{
        position: relative;
        top: 1300px !important;

    }
} 

@media (max-width:607px) {
    .frstt{
        position: relative;
        bottom: 100px !important;

    }
}

@media (max-width:607px) {
    .lastt{
        position: relative;
        top:  50px !important;

    }
}


@media (max-width:607px) {
    .row6{
        width: 100% !important;

    }
}


@media (max-width:607px) {
    .container3{
        position: relative;
        top: 1200px;
        
    }
}

@media (max-width:607px) {
    .flexbox3{
        position: relative;
        top: 1150px;
        
    }
}


@media (max-width:607px) {
    footer{
        position: relative;
        top: 1800px;
        
    }
}

@media (max-width:501px) {
    .container1{
        position: relative;
        top: 1500px;
    
    }
    
} 

@media (max-width:825px) {
    .lastrow{
      width: 50% !important;
    
    }
    
} 

@media (max-width:825px) {
    .lastrow1{
      width: 50% !important;
    
    }
    
} 

@media (max-width:825px) {
    .lastrow2{
      width: 50% !important;
    
    }
    
} 

@media (max-width:825px) {
    .lastrow3{
      width: 50% !important;
    
    }
    
} 

@media (max-width:825px) {
    .lastrow4{
      width: 100% !important;
    
    }
    
} 

@media (max-width:825px) {
    footer{
      height: 700px !important;
    
    }
    
} 

@media (max-width:760px) {
    h4{
      font-size: 25px !important;
    
    }
    
} 

@media (max-width:760px) {
    .row5{
        width: 10%;
    
    }
    
} 

@media (max-width:760px) {
    .row11{
        width: 10%;
    
    }
    
} 



@media (max-width:760px) {
    .row12{
      width: 10%;
    
    }
    
} 






.card{
    width: 100%;
    height: 181px;
    background-image: url(https://s3-alpha-sig.figma.com/img/9d3a/218e/df0cf8818190b02f87155b5758187041?Expires=1678665600&Signature=AixaQM3PMibgqLP26wjRQUFu-efj4oXOfQJoQfUjl-sobaYnbXljB9-I6AsjY7vXyB9w8Fc6aCK8O4wR3c1QuskdZeojuV7b7YB9v2eEdXgAxzgZpE9Ew5kNMbASEyTbFHKK1Qy8-3uGIdsiSj5rbmyUrZX43DmqitJj2DIRQ4x7VOUOtBw2D~nt~Yn4CgIOIemunrPZzwOWBdoLnOtr8Kj9oBLF1RsjVnbrqGkTcKB2Zwa9LhjW4HBz3jxDs3jfdYF1q2Wj6bQXZwCRULhuAKV8SuJ4s2Mh9rA9PvP7R49U9-wXf1ohE8ZAX5UjeMiGT4hntyHADCFGuQBhdr~9yQ__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    border-radius: 12px;
}

.card2{
    width: 100%;
    height: 181px;
    background-image: url(https://s3-alpha-sig.figma.com/img/bc6f/5c8f/7bf503191098a2d940d337c87dc9dda8?Expires=1678665600&Signature=TnLSJBFM1DMhjYlMyOKqRbMVqjAcjtkDtKwaLUIB44grA0oxOn5hX60ywSW-6s6XQt9g7tTYa-UQBhzOg0XVqSZyV6zvZ5PiltZe22NgBJJewkXzcSAu5rpNTECf4MXU0fLJVOrkYKseEwBbM8sgN1PL99ga9Eds85OABBYh7U9GEGSXROVLPFach8-8qrv~TS9q9jjWivZVIwmxOOTl1VBjXKm3qSuFcFhCYflVdDCNF1KtUXfEVSmmKw9Qqst3C4qpds9hnarFO3SVSy33hNkNYWTCHO7q9olRqGJi-hoQRUQONbx~k40R0ahfstzFl1yxOqm-35-ILilxyxP9XQ__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    border-radius: 12px;
}

.card3{
    width: 100%;
    height: 181px;
    background-image: url(https://s3-alpha-sig.figma.com/img/2fed/a4f5/1f5b06767016f833feae46d29d36dc86?Expires=1678665600&Signature=N-yg3RgYpnoS5O1LsrRXTmxqI4iHDRhG84gH4tGJ8Qprip1tBLKWitXh4AedUUjuwATBKtkvT~JeieRHs2OxiQx98b08ftAE3PC9fb9UT9DXfikZNb9p7bSYeKe73o6OeaDSx2Ife6m8KaJIGp8XTJbHsjUDkP3hUbBIfBheWcZEySR8-IQXJjhRp-7KSRpSpBHbKy3~UC-sbdKI9mgtq9-gGbIeVnBD5ZQHLQk-fRn90WZIVKkea7xO80xMS--4M2DNvv5tXVo9~l91Pc5H7oF8iKEBlJjEbEKHnososq5WCegVFk4b4wmpSykeKN40nNoo24l8f1if1nVgFhw8Og__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    border-radius: 12px;
}

.card4{
    width: 100%;
    height: 181px;
    background-image: url(https://s3-alpha-sig.figma.com/img/7acf/1d14/5b4195bb7c8aa19e0d70f84cd1fade00?Expires=1678665600&Signature=I7PT7wvoUN1Jrs1Y5bELDLiSnpuj08I-M2aX2LIyu3Pa15ifU2rFYC3QqiWVyGkx9WlEfitiO~lmyJfELJ95GlcBdaxDXe4pkHHPNY5b1CE-BHNGN6nW-Xvm6Vv9x4CJBcgt~4tAZocG6OhWk6f~oJA~XMHSadBk1v51mNgmClIfl6D8pP9xdLn-9ZJRPmWnDKR6Y8K-ffjxVzGSlcymkBHbw0uP3PzmidGqjGTqmK68onyPd0KO-mTWwWiShKX6Dfi8rnVhrIAVcqiX9U2LYjBTeEHoTLl59NSbhoEarFo8rUCJXmnOo9bHKl8eWoHHrykTTsfU70oWWZxNyL4JZw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    border-radius: 12px;
}

.card5{
    width: 100%;
    height: 181px;
    background-image: url(https://s3-alpha-sig.figma.com/img/6979/b326/1d74d32a519262f5d832092d05ec5a8d?Expires=1678665600&Signature=MKUWF0bPcxvHIwykZaICEgYCtHUq-8XBXWMfz-1XE7V-TWcPpFly5EUQ~3U6ZxgePKRG2l1tHtCwBmQVQH8zcI7c-PWnr8ht-4m3KYHOjxHfVt-Wp1QaMdD6uR3eCUh6tBOPOvIjx2ZtIV0knRcrJ4jJeL~BOF8CEqAMSA4pUfL2Xas8rmL7fXPH~Q7SPwfQH3URXMerXLe-GvlLsh4rSYhu7gw8zWOVlNDhOx0WPfhZMzarfdW4gfjKHCxETdzOTKbOT6ikZbe48iOwPlRYoDNyJL0rx~i5AqFixIBoaz2gLBfbdKOLLJBfSj5JhcpZd893t4LiwuRED7JAdLPh8g__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    border-radius: 12px;
}

.card6{
    width: 100%;
    height: 181px;
    background-image: url(https://s3-alpha-sig.figma.com/img/9459/9f05/232796588e92506b8e1c44752d2b6ef3?Expires=1678665600&Signature=BUw2RhdR1JbzF7glNvt517ZoYHtW87zfhMdsMncQTk4EkRmcYc8aK7OjQRARJM4pKmfQYfaUbylOcvnleBt0-RNbsdYU-wTI4plQ0dVDX9YiQnthZH8IGn~03xXTMOgBpyevPENvgX8NYH7HqnncaxWqt8AbYhSRHthM1b1liEQICF3pdjCVTS0UwZqNlRiLhAqDa56xiQnnfmVTQ0r4KRSx1xnpGslhB3gHC05wty6O1OgGZa7Ybn2KIym1e11ToNCYu7iixwxSZrK3MeAdE2ZuS9-eL9nnKJy9DsdIlZuCqdmUm5-o5ORMmiH5ZHEsRCJKME2C7FBagD8HbZtjIw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    border-radius: 12px;
}
.card-title{
    display: block;
    position: relative;
    bottom: 17px;
    width: 100%;
    height: 60px;
}

.card-title h5{
    font-size: 16px;
    line-height: 21px;
    color:rgba(22, 20, 20, 1);
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
}

.card-title .p6{
    font-size: 13px;
    line-height: 20px;
    color:rgba(151, 151, 151, 1) !important;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    position: relative;
    bottom: 7px;
   
    
}

.container1 h4{
    font-size: 32px;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    padding-left: 20px;
    
    
}

.idk1{
    width: 1378px;
    height: 420px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
    position: relative;
    bottom: 100px;
}

.row3{
    max-width: 100%;
    width: 25%;
    height: 420px;
    padding:0px 16px ;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.container1{
    max-width: 100%;
    width: 1378px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    height: 550px;

}

.card7{
    width: 100%;
    height: 380px;
    background-image: url(https://s3-alpha-sig.figma.com/img/b8f8/4199/4d6eb34b7addfab835e805341cf6f5d0?Expires=1678665600&Signature=ZLSWmTWaWVifUJnMXz9T4kWTHPa-dZaOen5C8xIDBoxN66NtaIS-Q5e7T5A8WgcHx3qua4hFjqWjtwaxJmu8gs7WrIiGHNRtdwwT2p5Jq5FwO5LP-LJzt5iddmpb0Qo07EqwaEZC6ieFWWNTzbPfdxGetx8tiZOlCKEZcF9FjlQQ5P4froM3sEg0bo9ESkQQA2LaJWdpOTsxjtDpuQ8PQmpBt35LF3ZhITYG8JX3VENzDp~Jaq6o9e2MhxiT7pko0sOj2ga8yhBwiEbEi1KE-ScwBoc8Wzv2VR43D7BkKWVjk9Srp1HHs1HBGn1odX--bFHsmsTyGBcWRQ1kuamhCw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    border-radius: 12px;
}

.card8{
    width: 100%;
    height: 380px;
    background-image: url(https://s3-alpha-sig.figma.com/img/b664/c62d/61b0a692472cccc18062c05f3a4d3c3c?Expires=1678665600&Signature=dQgDRtIQ5oi3Vm22lDB2mGYgFH5YD-BtQyOCV4kUsFPh2FqTWhSzlA82XNDlGP-pAH7h54VgzqkyGCVFEaQ6q0nQfVVPuqBUxRYBRIaS4HpRFK3LLvl0QCp28Q0yqGsCiZS74OR2thTqSUprFeGctsjdm-vy8Ah-~Y~CP-2Hw4O29ZPKgKMoP3iPoF6LmhfDjV~4cSpHY8HW9kgHyad7MrGCqLHBTks8fRiwAYbpzdP6VHol0ERNQul1hHsvlh1rOglKfD-6nJGD~HWQ9lIMAT~~dYSnzQgrHmBxcC95hiRRlP5jCDuybU3baphQmd5-KKCQOcT-0jGNAp3OpvUxLg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    border-radius: 12px;
}

.card9{
    width: 100%;
    height: 380px;
    background-image: url(https://s3-alpha-sig.figma.com/img/dce3/329c/9baaa9469d18d97f8b93c428b9dc8b9b?Expires=1678665600&Signature=GszLTlMqkrY2By8jjc-f6UpAhun53Y6jhW40BZJdlZ9Zt3LI1GkfvY0gQ0w0~wmlUViLyYV8JkdHJ7KxH-az0Xe6QsHzEAuSgakQltnG49WxJMvSEyIcVigKYo4yPbzGZ8zG0sEH1kAStJnw-lmPs7Bz6WtDODQkNHVhdU5-1hLhwiRFgfRXpZ5lNdGA~TWpVZlhCfmXKoDtWa3cZzSiJxt8HTKYOrXKW1ezmubVLQZKVb8Xpcy~Ek-ok3xKWq9PlR14WhmIpCpqPGjOc8wf5Su-KgvRTSlQz-5T1wj0YHHZXJG8ItWWMuYzHUDbw149aiZTaGeIhb~rkynb4Bz3ow__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    border-radius: 12px;
}

.card10{
    width: 100%;
    height: 380px;
    background-image: url(https://s3-alpha-sig.figma.com/img/8345/00be/66cc110bdd2b8d709cd492e5c308036f?Expires=1678665600&Signature=qVkmDtc49V6robhfJWCq4sIQ4MuCQDykR6uAnumqRlqj3XGFIjVB02YCYIrRLcA3Bn1w9v2zFq03SSiHOUQrC8xvLw0vAw6VEHm1NZwGf5ir5lUT4WsI9IhrtfYW3miGNXbCm53Z4bc8TN54X7d3ZkjZXL9UWoLPa9cHgrcIu87j-rTf4uon204LgIDwyjT-a7aXPwxvABLPcDi3UgcuY0EC3Mq08kcuT2pBdakRxDu~1ZYj5cu-buwPqtKE~mD7SATdz~X2YbgKuxVcmMscifL5I1lBvVZaeUxFPEJ4PPM7qH-KD81wTiiVyzr1IlnIQ4xxBYP3qSoTHfI5MNL3Ug__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    border-radius: 12px;
}

.card-title1{
    display: block;
    position: relative;
    top:10px ;
    width: 100%;
    height: 60px;
}

.card-title1 h5{
    font-size: 16px;
    line-height: 21px;
    color:rgba(22, 20, 20, 1);
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
}

.card-title1 .p6{
    font-size: 13px;
    line-height: 20px;
    color:rgba(151, 151, 151, 1) !important;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    position: relative;
    bottom: 7px;
   
    
}



.p7{
    font-size: 13px;
    line-height: 20px;
    color:rgba(151, 151, 151, 1) !important;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    position: relative;
    top: 2px;
    position: relative;
   
    
}

.bi-star-fill{
    color: rgba(255, 168, 0, 1);
    padding: 0px 1.5px;
    float: right;

}

.bi-star{
    color: rgba(255, 168, 0, 1);
    padding: 0px 1.5px;
    float: right;
}

.View{
    display:block;
    width: 105px;
    height: 44px;
    border-radius: 12px;
    float: right;
    color: rgba(82, 67, 194, 1);
    font-size: 16px;
    border: 0;
    background-color: rgba(246, 244, 255, 1);
    
}

.View:hover{
    background-color: rgba(82, 67, 194, 1);
    color: rgba(246, 244, 255, 1);
    opacity: 0.8;
}

.row5{
    float: right;
    width: 69.3%;
    max-width: 100%;
    height: 50px;
}
/* 
.row4{
    width: 31.7%;
    max-width: 100%;
    height: 50px;
} */


.bi-arrow-right{
    position: relative;
    bottom: 1px;
    left: 5px;
}

.container2{
    max-width: 100%;
    width: 1378px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    height: 550px;

}

.row6{
    width: 25%;
    height: 420px;
    padding:0px 16px ;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card11{
    width: 100%;
    height: 380px;
    background-image: url(https://s3-alpha-sig.figma.com/img/7e1d/49e4/7e3e91ff1b16c809d0eb193e18d52722?Expires=1678665600&Signature=ZEkgMA2yS3hirB2-9l8zYCGiixjZL0PfttKjqcHbChst-mzJXu84pTsVYTLDORn1GlUE-4CY0y~BHkI0gUW5jj55a3UY18IoNeFnv-H-Q0HwMzYbpSxW7SkfzIlByIz64gE5mrOZyo07sNIsTwIJMdGweoYC8icWl869bFRMMG4Pl9GSOLHkUsX53NEjnvzGa-6d-6CUKS6O5ugS0N3fouWSi2STpHhnglkD6ImM6uscbB1N2HqRkNgaZFossshKZKCTRTW20WUGSAWwSOOX97YIXHq48Mr8usK2jTWgCzLJ9hgan20UkaW1Y~SHDfL2hRiyJ-~30R1YBRnKFuYa7w__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    border-radius: 12px;
}

.card13{
    width: 100%;
    height: 380px;
    background-image: url(https://s3-alpha-sig.figma.com/img/e184/26c4/6de71ca44ab6300fb061b5ccb6b41a44?Expires=1678665600&Signature=JkOXKX0efUMeQqhIJheqcXgRW0FCjjS27LCygZweoJklhJMo1siv8mXBvLxfBX2BilnqQxJgO5IszvDwXi9ZWdgX68ozcA5gf5lu9FTXNJ7rK3PbXWVvWt-vfTxrpch28VJAT5UetxnlT4yIIdKTGRWqNUQ3MwLsr43uA4JPgb~vsTERCwNcCIeRuU2NLXpZ8DMPfFFel7fQF~yFJWiRmh1iK5NozS4g16Hh2ZUElTJdPbWFb3u8fmZfSCtwSsvxxYMnBLeeGhMysibK-T-fS3gvEKzCY~XKy5FR7waF-7Mg0TkYlutTdAxMAXeCYdb-sAG595PUy7xpFUPjFQvE2g__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    border-radius: 12px;
}

.card12{
    width: 100%;
    height: 380px;
   
}

.card14{
    width: 100%;
    height: 380px;
    
   
}

.p12{
    font-size: 20px;
    font-weight: 600;
    color: rgba(22, 20, 20, 1);
}

.p13{
    font-size: 16px;
    font-weight: 400;
    color:rgba(91, 91, 91, 1);
    
}

.ragac-text{
   width: 100%;
   height: 50px;
   display: flex;
   position: relative;
   top: 145px;
   justify-content: center;
}

.vector11{
    width: 13px;
    height: 13px;
    display: inline-block;
    position:relative;
    top: 5px;
    cursor: pointer;
    
}

.p9{
    font-size: 13px;
    line-height: 20px;
    color:rgba(151, 151, 151, 1) !important;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    position: relative;
    top: 2px;
    position: relative;
   padding: 0px 10px;
    
}

.container3{
    max-width: 100%;
    width: 1378px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    height: 150px;

}

.row11{
    float: right;
    width: 72%;
}


.row12{
    float: right;
    width: 88%;
}

.card16{
    width: 100%;
    height: 380px;
    background-image: url(https://s3-alpha-sig.figma.com/img/0864/4a74/5cc11867b1e27bc63328d4f938736a18?Expires=1678665600&Signature=KjnZTNdJGVtSXZBHhu-uc2pKcCuHFkT39gfzgGE6bVfjRlr~ZtNFQy5QJALMfKOr5O7Z5Enm0Jda2LNJMoAioRG58yXs3QWFw1Wa1QHPIz-SnIyQzXQUK3ydRFqizD2OZ9b22K1GcWdMu-hO5AeolO6Gz7qpC1eVlhP6RkbVyRfeGqCeMx1tytZvrB50XZZ4DJyOaX-BgUgwpxzesMq52I6ayuC5rbZo580PEjVbYoixsFsZXXHXRz0dOILDBFoZUfbCk-cln4t433bkYJei-~QuuRKIHcAa-NrVnOtzgFovKiaStts09BJrBZ43KtNyHyjVlACylwyNOTD-HvGUnw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    border-radius: 12px;
}

.card-title1{
    display: block;
    position: relative;
    top:10px ;
    width: 100%;
    height: 60px;
}

.card15{
    width: 100%;
    height: 380px;
    background-image: url(https://s3-alpha-sig.figma.com/img/5e5c/d2ad/dfa7f992fbf9d7cefcb7c9c5061816cb?Expires=1678665600&Signature=e98xZ9Q1GbeAF4myaN80Uh2JYi9Z4CsHzSz8pYqYraneudKGcWa9f0qG7bnbVpF16VBxsaLX2BvuyexMmGwqQOXsGx21EuQSSRsxZsN0oxEMeVh761RBXZNh-Z1LyB4vSxA4vBJemREocTFBJPbld6Fr8Hhdntd4H-N61amgHlpKrNqohlkVn0jtZnzeudTJZqLmdAyl5m1fdAGvESWmLeDJa7DQrUGHMUxN7ymg60Os2NL~gXZBoF1Hd9ja0ZoQtYYgXuUfR0nbzGyfr9JJECY3S5YCPduIkzTcitRexFxHFquIoUN2DgAqSMxo6-A4tWRDssW0DDTfa8Ibh3mXzQ__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    border-radius: 12px;
}

.card17{
    width: 100%;
    height: 380px;
    background-image: url(https://s3-alpha-sig.figma.com/img/ab7d/fedf/df25ce79a52e6151904a2647d64d8e24?Expires=1678665600&Signature=F1PlAJ9ny1T9NMu1KHV5S4VxagDUz82MxRQqTkerFKmADRPPbeSAS-IJFHRdgaGAsyTSPFTiq~qKWOkiBtyUe2Un2sfaY~2SeD62X-0NzEYDY97AfIar06BlICe1E4F643MyJIKpKJWNp5oLRthFDhTnQbZ9PXU3GnCIa5m1Uh6ohIqih9n4zFydfrj1qILz15b~xscA0JlZNR11i6YXAm~E-XikGMqwf4xXcFF6~vOrWVM5Q9FtdV-XGKgy4pm2qskyue-g6z5n~UySlC1P-c7creNXWyVoHUZ5mi1JT9gss0PnDRfD6wlOXqZzg-wB2A2qn~zWmuW2LUhTN1Ah5w__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    border-radius: 12px;
}

.card18{
    width: 100%;
    height: 380px;
    background-image: url(https://s3-alpha-sig.figma.com/img/2b2d/d18f/a7c0292d9178f08714dec581c4dd155c?Expires=1678665600&Signature=pulSRPoWcqS8CH1cvrTzwdXUS5sHeoFVpPtT325sopJ-z3dna84wL1IK7ba4dbgEcCufiENumZo-0jZYcCtr3wXuR6NlIbFdcyWuFrxsdDKWxMMIaS1Z9YtKp9H0odjZHGugL1mJRIm5IbDgKc1K2I2EBaNDpqRO-qFexW4URjebHIBcpYWg3-Gv8sPi8yDmT0G4xPQZVE6Qk3YI4UfGRUzaqHV6c~0baoyoeHL7tSSMcBM1g9vCovQknNQMaHOLvaxclkNtN6IzFSOzLIttc4t~6IQgSw5CIONt882TmX1xVduA5B4zgnfyzmyxoVo~2M8BLeFAZnBN5pueoMi-Mw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    border-radius: 12px;
}

.flexbox3{
    max-width: 100%;
    width: 1156px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    height: 550px;

}

.row90{
    width: 50%;
    height: 488px;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card90{
    height: 316px;
    width: 98%;
}

.card91{
    width: 100%;
    max-width: 100%;
    height: 488px;
    background-image: url(https://s3-alpha-sig.figma.com/img/8a71/9b84/c15031a2fbb7d81b80d52cfd9cab41aa?Expires=1679270400&Signature=lFXvkjju9atE9dhdtxegnGIjV11-EU89kdT2HyT4tODTNvp3O5tBNvwtgWmJ0eRXXWaUgDyrFqBebmhdMANXOz1fgNVMIeW-gzwKLStRcMwMNl8DdYhDXzByp1Zvk5s60R1AnZHFgJwwNy5lDZKFqVEY5sE2E~knm~8cldMiUWHj5BqLjbaKfsGaAmy6su7c2AGUohW442P50m5Tl37FbSSiUcXB4OG3HmLz889S68DjukRu7e1RTkioUxW8hTN6K6UNSVtL2pMMiR3DqgYYScyeO05flcXdcaaCUOtlk9r9VWi21nv3d-YDtak9Zjr4qCokDogi6lM2tjNS11utIA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    border-radius: 24px;
}

.p90{
    font-size: 32px;
    line-height: 45px;
    color: rgba(22, 20, 20, 1);
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
}

.p91{
    font-size: 16px;
    line-height: 32px;
    color: rgba(91, 91, 91, 1);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.reaad{
    width: 133px;
    height: 44px;
    padding: 10px 10px;
    border-radius: 12px;
    color: rgba(82, 67, 194, 1);
    background-color: rgba(246, 244, 255, 1);
    border: 0;
    position: relative;
    top: 20px;
}

.reaad:hover{
    background-color: rgba(82, 67, 194, 1);
    color: rgba(246, 244, 255, 1);
}

footer{
    width: 100%;
    max-width: 100%;
    height: 405px;
    padding:120px, 271px, 120px, 271px; 
    gap: 64px; 
    background-color: #F9F9F9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lastflexbox{
    width: 1376px;
    height: 163px;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.lastrow{
    width: 27%;
    height: 163px;
    
    padding: 0px 32px;
}


.KA p{
    
    font-size: 13px;
    line-height: 19px;
    color:rgba(151, 151, 151, 1) !important;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    position: relative;
    top: 10px;
        
    
}

.KA a{
    position: relative;
    top: 20px;
}

.twit{
    position: relative;
    left: 34px;
}

.inst{
    position: relative;
    left: 64px;
}

.lastrow1{
    width: 12%;
    height: 163px;
    padding: 0px 32px;
}

.abt{
    font-size: 18px;
    line-height: 27px;
    color:rgba(22, 20, 20, 1);
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.abts{
    font-size: 13px;
    line-height: 19px;
    color:rgba(151, 151, 151, 1) !important;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    
  
}


.lastrow2{
    width: 12%;
    height: 163px;
    padding: 0px 32px;
}




.lastrow3{
    width: 12%;
    height: 163px;
    padding: 0px 32px;
}

.lastrow4{
    width: 34%;
    height: 163px;
    padding: 0px 32px;
}

.lastbtn{
    width: 72px;
    height: 72px;
    border-radius: 12px;
    background-color:rgba(123, 97, 255, 1);
    border: 0;

}

.bi-arrow-right-short{
    color: #ffffff;
}


